<div class="min-h-screen">
  <!-- Navbar and Header Sections Here (As Defined Earlier) bg-gray-50-->
  <div class="header">
    <div class="bg-headerBlue">
      <div class="container mx-auto">
        <nav>
          <div class="mx-auto max-w-7xl">
            <div class="relative flex h-16 items-center justify-stretch">
              <div
                class="absolute inset-y-0 left-0 flex items-center sm:hidden"
              >

              </div>
              <div
                class="flex flex-1  justify-center sm:justify-between items-center"
              >
                <div class="flex flex-shrink-0 items-center">
                  <img
                    class="h-10 w-auto"
                    src="../assets/images/Evoke_technologies_logo-new.png"
                    alt="Your Company"
                  />
                </div>
                <div class="hidden sm:block">
                  <div class="flex space-x-3">
                    @for(link of navLinks; track link) { @if(link.label ===
                    'UI/UX') {
                    
                      <!--<div>
                        
                         <a
                        [routerLink]="[link.path]"
                        routerLinkActive="bg-headerOrange"
                        aria-current="page"
                          (click)="toggleDropdown()"
                          class="inline-flex w-full justify-center gap-x-3.5 rounded-md px-3 py-2 text-sm font-medium text-headerWhite"
                          id="menu-button"
                          aria-expanded="true"
                          aria-haspopup="true"
                        >
                          {{ link.label }}
                          <svg
                            class="-mr-1 h-5 w-5 text-gray-400"
                            viewBox="0 0 20 20"
                            fill="#ffffff"
                            aria-hidden="true"
                            data-slot="icon"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </a> 
                      </div>-->
                    
                          <a
                            [routerLink]="[link.path[0]]"
                            routerLinkActive="bg-headerOrange text-white-c"
                            aria-current="page"
                            class="rounded-md px-2 py-2 capitalize text-sm font-medium text-headerWhite hover:bg-headerOrange hover:text-white"
                            role="menuitem"
                            tabindex="-1"
                            id="menu-item-0"
                            >UI/UX</a>
                          
                    } @else() {
                    <a
                      [routerLink]="[link.path]"
                      routerLinkActive="bg-headerOrange"
                      aria-current="page"
                      class="rounded-md px-2 py-2 capitalize text-sm font-medium text-headerWhite hover:bg-headerOrange hover:text-white  "
                    >
                      {{ link.label }}
                    </a>
                    } }
                  </div>
                </div>
              </div>
              <!-- <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"> -->
              <!-- <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">View notifications</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
                </button> -->

              <!-- Profile dropdown -->
              <!-- <div class="relative ml-3"> -->
              <!-- <div>
                    <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                      <span class="absolute -inset-1.5"></span>
                      <span class="sr-only">Open user menu</span>
                      <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </button>
                  </div> -->

              <!-- Dropdown menu, show/hide based on menu state. Active: "bg-gray-100", Not Active: "".
                    Entering: "transition ease-out duration-100" From: "transform opacity-0 scale-95" To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75" From: "transform opacity-100 scale-100" To: "transform opacity-0 scale-95"
                  -->
              <!-- <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                  </div> -->
              <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>

          <!-- Mobile menu, show/hide based on menu state. -->
          <!-- <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2">
              <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">AI</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">CLOUD</a>
              <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">IT</a>
            </div>
          </div> -->
        </nav>
      </div>
    </div>
  </div>

  <!-- Main Content part-->
  <!-- <div class="container mx-auto px-36 flex justify-center"> -->
  <div class="container mx-auto flex justify-center">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer Section Here -->

</div>
<div class="footer bg-footerGray">
  <div class="container">
  <div class="flex mx-auto flex-wrap mt-6 py-2.5 items-center justify-between sm:pl-22">
    <span class="bg-none text-white text-sm p-l-22">Evoke Technologies Pvt. Ltd. All Rights Reserved.</span>
    <span class="bg-none text-white text-sm sm:text-center p-l-22 "><a class="text-white bg-none" href="https://www.evoketechnologies.com/">www.evoketechnologies.com</a></span>
  </div>
</div>
</div>
